<div class="panel panel-gray">
  <div class="panel-heading">
    <i class="fa fa-key fa-2x"></i><big><big> New Credential:</big></big>
  </div>  
</div>

<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Credentials', credentials_path %></li>
  <li><%= link_to 'Add Credential', new_credential_path %></li>
</ul>

<%= render 'form' %>

